
.container{
   
    justify-items: center;
    align-items: center;
    text-align: center
    
}
#logo{
    width: 10%;
    padding: 1px;
 
}
#header-titulo{
    color: rgb(0 0 0);

  
}
#body{
    padding: 5px;
    background-color: #eee8e7
    
 
}
#body>header{
    padding:10px; 
    display: inline-flex;
}
#main{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#form{
    padding: 1rem;
    grid-column: 1;

}
#enviar{
    background-color:#2173e6
}
#tabla{
    width: 93%;
    border: groove 10px #1059b8;
    background-color:#2173e6;
    grid-column: 2;
    justify-content: center;
    place-self: start;
}
h1,h2,h4{
    margin-bottom:10px;    
    font-size: 1.3rem;
    color:#000000;
    align-items: center;
}